@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Jost:wght@300&family=PT+Serif:ital@1&family=Raleway&family=Sacramento&family=Ubuntu:wght@300&display=swap');
body{
    transition: 0.1s;
}
nav{
    background-color: #fff;
}
.darkmodebtn{
    display:block;
    border: none;
    background:none;
    padding:0 6px;
}
.darkmodebtn:hover{
    color: #0059ff;
}
.lightmodebtn{
    display:none;
    border: none;
    background:none;
    color: #fff;
    padding:0 8px;
}
.lightmodebtn:hover{
    color: #ea6227;
}
.dark-mode{
    transition: 0.1s;
}
.recipe-card{
    overflow: hidden;
    margin:7px;
    display:flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: black 7px 7px 21px -16px;
    transition: 0.1s;
}
.recipe-card span{
    position: absolute;
    font-size: xx-large;
    display: flex;
    align-self: center;
    justify-self: center;
    color: white;
    font-family: 'Sacramento', cursive;
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
}
.recipe-card img{
    width:90px;
    object-fit: cover;
}
.recipe-card div{
    padding: 15px;
    width: 250px;
}
.recipe-card div p{
    overflow: hidden;
    height: 76.78px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.recipe-card div a{
    background-color: #ff7c88;
}
.wraper-cards{
    margin:20px 0;
}
/* recipe dark mode */
.recipe-div-dark{
    background: #282828;
    color: #fff;
}
.dark-bg{
    background-color: #3a3a3a;
}
.searchbar{
    margin:31px auto;
    width:700px;
}
.searchbar button{
    background-color: #65789b;
    color: #f0f8ff;
    margin-left: -1px;
}
.searchbar button:hover{
    background-color: #90b833;
    color:#fff;
}
.dark-mode h3{
    background-color: #0059ff;
    color:#f0f8ff;
}
.dark-mode h3:hover{
    background-color: #0059ff;
    color:#f0f8ff;
}
#search_result{
    position: absolute;
    width: 100%;
}

/* login css */
.modal-bg{
    background-image: url("../../login/image2.jpg");
    background-size: cover;
}

.loginbox{
    width:320px;
    height: 485px;
    background:#000;
    color: #fff;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    padding: 57px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
 }
.loginbox input{
    width: 100%;
    margin-bottom: 20px;


}
.loginbox input[type="text"],  input[type="password"]
{
border: none;
border-bottom: 1PX solid #fff;
background: transparent;
outline: none;
transition: 0.5s;
height: 40px;
color: #fff;
font-size: 16px;

}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;  
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;

}
.loginbox a:hover{

    color: #ffc107;
}

