@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: ubuntu;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("https://images.unsplash.com/photo-1643995529773-686d81fd51aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
}
.loginbox{
    width:320px;
    height: 480px;
    background:rgba(0, 0, 0, 0.808);
    backdrop-filter: blur(2px);
    color: #fff;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    padding: 70px 30px;
    border-radius: 9px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight:600;
 }
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],  input[type="password"]{
    border: none;
    border-bottom: 1PX solid rgb(28, 117, 189);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(146, 236, 2);
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0084ff;
    color: #fff;
    font-size: 18px;
    border-radius: 9px;  
    transition: 0.35s;
    cursor: pointer;
}
.loginbox input[type="submit"]:hover{
    background: #4b00ff;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover{
    color: #ffc107;
}